:root {
    --white: hsl(0, 0%, 100%);
    --lt-grey: hsl(217, 12%, 63%);
    --md-grey: hsl(216, 12%, 54%);
    --blue: #262d37;
    --dk-blue: #202731;
    --vdk-blue: hsl(216, 12%, 8%);
    --orange: #fb7413;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    background-color: var(--vdk-blue);
    color: var(--lt-grey);
    font-size: 15px;
}


h1 {
    color: var(--white);
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 24px;
}

.inner-container {
    padding: 24px;
}

/* + + + main + + + */
section {
    min-width: 328px;
    background: rgb(35,42,50);
    background: radial-gradient(at top, rgba(35,42,50,1) 0%, rgba(26,31,37,1) 100%);
    border-radius: 24px;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
}

.star-circle,
.number  {
    display: inline-block;
    padding: 16px;
    background-color: var(--blue);
    border-radius: 100%;
    margin-bottom: 24px;
}

.number-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-txt {
    margin-bottom: 24px;
}

.number {
    padding: 14px 20px 12px 20px;
}

.number:hover{
    cursor: pointer;
    background-color: var(--lt-grey);
    color: white;
}

.number:active,
.active-button,
.submit-btn {
    color:hsl(0, 0%, 100%);
    background-color:hsl(25, 97%, 53%);
}

.submit-btn {
    width: 100%;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    line-height: 2.6;
    letter-spacing: 2px;
}

.submit-btn:hover,
.submit-btn:active {
    cursor: pointer;
    background-color:hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
}

.number:first-of-type {
    padding: 14px 22px 12px 22px;
}


.star-circle svg {
    width: 17px;
}


.rating-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}


.container-click {
    color: var(--orange);
    background-color: var(--blue);
    line-height: 2;
    padding: 0 1rem;
    border-radius: 20px;
    display: inline-block;
}

.end-txt {
    padding-bottom: 1rem;
}

@media screen and (min-width: 500px){
    section {
        width: 410px;
    }

    .inner-container {
        padding: 35px;
    }
}